@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.help{
    border:solid;
}
body{
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
nav{
    margin-top:0;
    margin-bottom:0;
    margin-left: 10px;
    text-align: center;
}
.highlighted{
    color:white;
    background-color: darkslategray;
}
a:visited{
    color:white;
}
.navbar, .navbar:visited{
    margin-bottom: 10px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.header{
    width:25%;
    margin-top: 0;
    top:0;
    bottom: 0;
}
#left-side{
    height:100%;
    border-right: solid;
    border-color: grey;
    height:175vh;
}
#options-output{
    width: 40%;
}
#charts{
    width: 60%;
    margin-left: 20px;
}
.main-body{
    width: 75%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-row-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-left{
    text-align: left;
}
.options {
    margin: 20px 10px 20px 10px;
    padding-left: 5px;
    padding-right:5px;
    border:solid;
    border-color:darkslategray;
}
.footer{
    margin-top: 100px;
   bottom:0;
   width:100%;
   margin-bottom: 0;
   margin-left:20px;
}
#reg-form{
    margin:auto;
    width: 50%;
    text-align:center;
}
#reg-table{
    margin: auto;
}